<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css"/>
        <title>taiga</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="header">
                <div class="brand">
                    <a href="index.html">taiga</a>
                </div>
                <div class="header-links">
                    <a href="cart.html">Cart</a>
                    <a href="login.html">Sign In</a>
                </div>
            </header>
            <main class="main">
                <div class="content">
                    <ul class="products">
                        <li>
                            <div class="product">
                                <img class="product-image" src="../images/i1.jpg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Hiking boots</a>
                                </div>
                                <div class="product-brand">Columbia</div>
                                <div class="product-price">$59.99</div>
                                <div class="product-rating">4.5 stars (10 reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="../images/i1.jpg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Hiking boots</a>
                                </div>
                                <div class="product-brand">Columbia</div>
                                <div class="product-price">$59.99</div>
                                <div class="product-rating">4.5 stars (10 reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="../images/i1.jpg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Hiking boots</a>
                                </div>
                                <div class="product-brand">Columbia</div>
                                <div class="product-price">$59.99</div>
                                <div class="product-rating">4.5 stars (10 reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="../images/i1.jpg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Hiking boots</a>
                                </div>
                                <div class="product-brand">Columbia</div>
                                <div class="product-price">$59.99</div>
                                <div class="product-rating">4.5 stars (10 reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="../images/i1.jpg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Hiking boots</a>
                                </div>
                                <div class="product-brand">Columbia</div>
                                <div class="product-price">$59.99</div>
                                <div class="product-rating">4.5 stars (10 reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="../images/i1.jpg" alt="product">
                                <div class="product-name">
                                    <a href="product.html">Hiking boots</a>
                                </div>
                                <div class="product-brand">Columbia</div>
                                <div class="product-price">$59.99</div>
                                <div class="product-rating">4.5 stars (10 reviews)</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </main>
            <footer class="footer">
                <!-- FIXME change to link to github page --> 
                All rights reserved.
            </footer>
        </div>
    </body>
</html>